.checkout__wrapper{

    .itemSection{
        border-bottom: 1px solid #DDDDDD;
        margin-top: 24px;
        .itemSection__block{
            padding-left: 16px;
            padding-right: 16px;
        }
        .checkout__headline{
            font-size: 32px;
            line-height: 41px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            .checkout__circle{
                width: 10px;
                height: 10px;
                background-color: #DDDDDD;
                border-radius: 50px;
                margin-left: 8px;
                margin-right: 8px;
            }
        }
        .checkout__itemCard{
            display: flex;
            margin-bottom: 16px;
            .itemCard__img{
                width: 90px;
                height: 90px;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }
            .itemCard__info{
                padding-left: 8px;
            }
        }
    }
    .totalPrice{
            padding-left: 16px;
            margin-top: 16px;
        .totalPrice__cost{
            font-size: 24px;
            line-height: 31px;
        }
        .totalPrice__delivery{
            font-size: 13px;
            line-height: 17px;
            color: #666666;
        }
    }
    .form{
        padding-left: 15px;
        margin-top: 48px;
        .form__field{
            .purpose{
                font-size: 16px;
                line-height: 21px;
            }
            .descript{
                font-size: 13px;
                line-height: 17px;
                color: #666666;
                margin-left: 12px;
            }
            input{
                border: 1px solid #DDDDDD;
                box-sizing: border-box;
                border-radius: 2px;
                width: 265px;
                height: 42px;
                background: #FBFBFB;
                color:#DDDDDD;
                font-size: 16px;
                line-height: 21px;
            }
            .address{
                height: 84px;
            }
            .form__phone{
                margin-top: 24px;
            }
            .form__city{
                margin-top: 40px;
            }
            .form__address{
                margin-top: 24px;
            }
        }
        .form__sendButton{
            margin-top: 24px;
            background-color: #F2F2F2;;
            margin-left: -16px;
            .infoBtn{
                font-size: 13px;
                line-height: 17px;
                margin-left: 16px;
                padding-top: 16px;
            }
            .buyButton{
                margin-top: 16px;
                margin-left: 16px;
                background: linear-gradient(180deg, #FFC908 0%, #FFBA08 100%);
                box-shadow: 0px 0px 15px rgba(255, 146, 17, 0.5);
                border-radius: 4px;
                width: 230px;
                height: 42px;
                margin-bottom: 16px;
                border: 0px;
            }
        }
    }
}
@media only screen and (min-width : 1200px){
    .checkout__wrapper{
        display: flex;
        .container{
            width: 488px;
            .checkout__productList{
                margin-top: 32px;
                .itemCard__img{
                    width: 160px;
                    height: 160px;
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                }
            }
            .totalPrice{
                display: flex;
                justify-content: flex-end;
            }
        }
        .form{
            width: 488px;
            margin-left: 88px;
            margin-top: 105px;
            .form__input{
                display: flex;
                align-items: center;
                width: 368px;
                justify-content: space-between;
                input{
                }
            }
            .form__sendButton{
                display: flex;
                width: 488px;
                height: 98px;
                align-items: center;
            }
            .infoBtn{
                width: 130px;
            }
        }
    }
}