@media only screen and (max-width : 1199px){
.navigationWrapper{
    width: 100% ;
    margin: auto;
    display: flex;
    background-color: black;
    position: fixed;
    z-index: 1;
    .logo{
        margin-top: 8px;
        margin-left: 16px;
        .logo__text{
            text-decoration: none;
            font-size: 24px;
        }
    }
    .navigation{
        display: flex;
        width: 55%;
        height: 21px ;
        margin-top: 13px;
        margin-left: 32px;
        overflow: scroll;
        .navLink{
            margin-left: 24px;
        }
        .first{
            margin-left: 0px;
        }
    }
    .cart{
        margin-left: 16px;
        margin-top: 16px;
        .cart__counter{
            
        }
        .cart__order{
            display: none;
        }
    }
    a{
        color: white;
    }
}
}
@media only screen and (min-width : 1200px){

    .navigationWrapper{
        display: flex;
        background: linear-gradient(267.53deg, rgba(0, 0, 0, 0) 0.07%, #0C0C0C 99.93%);
        position: fixed;
        z-index: 1;
        .logo{
            margin-top: 8px;
            margin-left: 152px;
            .logo__text{
                text-decoration: none;
                font-size: 24px;
                line-height: 31px;
            }
        }
        .navigation{
            display: flex;
            height: 21px ;
            margin-top: 13px;
            margin-left: 42px;
            .navLink{
                margin-right: 24px;
            }
            .first{
                margin-left: 0px;
            }
        }
        .cart{
            margin-left: 370px;
            margin-top: 16px;
            display: flex;
            .cart__counter{
                
            }
            .cart__order{
                margin-left: 6px;
            }
        }
        a{
            color: white;
        }
    }
    
}
